In [2]:
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz"
url

'https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz'

In [4]:
url.split(sep='/')[-1]

'housing.tgz'

In [5]:
import os
os.path.basename(url)

'housing.tgz'

In [1]:
import pandas as pd

In [2]:
file_path = r"D:\iNeuron\Project\Basic_ML_Project\Basic_ML_Project\housing\artifact\data_ingestion\2022-07-04_15-51-37\ingested_data\train\housing.csv"

In [4]:
df = pd.read_csv(file_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [38]:
cols = df.columns
cols

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [39]:
data_type = list(map(lambda x: str(x) , df.dtypes.values))
data_type

['float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'object']

In [59]:
schema = dict(zip(cols , data_type))
schema

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object'}

In [60]:
schema["columns"] = None

KeyError: 'columns'

In [67]:
d = {}
d["columns"] = schema
d

{'columns': {'longitude': 'float64',
  'latitude': 'float64',
  'housing_median_age': 'float64',
  'total_rooms': 'float64',
  'total_bedrooms': 'float64',
  'population': 'float64',
  'households': 'float64',
  'median_income': 'float64',
  'median_house_value': 'float64',
  'ocean_proximity': 'object'}}

In [52]:
import yaml

In [70]:
def generate_schema_file(df):
    cols = df.columns
    dtype = list(map(lambda x: str(x) , df.dtypes.values))
    inner_dict = dict(zip(cols , data_type))
    outer_dict = {}
    outer_dict["columns"] = inner_dict
    with open('schema.yaml', 'w') as outfile:
        yaml.dump(outer_dict , outfile , default_flow_style=False)

In [71]:
generate_schema_file(df=df)